<h1>Thanks for authorizing your facebook account!</h1>
<h3>Would you like to post to a page or your personal account?</h3>
<form>
  <input type="radio" name="page" value="-1"><% @user_graph.get_object('me')["name"] %>
  <% @user_graph.get_connections('me', 'accounts').each do |page| %>
      <input type="radio" name="page" value="<%= page["id"]%>"> <%= page["name"]%><br/>
  <% end %>
</form>