<div class="col-md-3">
<div id="fb-root"></div>

  <%= link_to periscope do%>
  <h5><%=periscope.title%></h5>
      <% end %>
  <% if periscope.facebookVideo.nil? %>
  <% @periscope = periscope %>
<%= render "periscopes/show" %>