<div class="container-fluid centered">
<video controls>
  <source src="https://s3.amazonaws.com/com.jschober.transcope/<%= @periscope.broadcast_id %>.mp4" type="video/mp4">
  <!--<source src="http://localhost:3000/<%=@periscope.broadcast_id%>.ts" type="video/mp4">-->
</video>
</div>
