<% periscope = @periscope%>
<div class="container-fluid centered">
  <% if @periscope.facebookVideo.nil? %>
      <video preload="metadata" controls>
        <% if @periscope.completed %>

            <source src="https://s3.amazonaws.com/com.jschober.transcope/<%= periscope.broadcast_id %>.mp4" type="video/mp4">
        <% else%>
            <source src="<%= @periscope.getAPI["https_hls_url"]%>" type="application/x-mpegURL">
        <% end %>
      </video><br/>
      <%= link_to "Export To Facebook!", "/periscopes/#{periscope.id}/exporttofacebook" %>
  <% else %>
      <div class="fb-video" data-href="https://www.facebook.com/facebook/videos/<%= periscope.facebookVideo%>/" data-width="500" data-allowfullscreen="true" data-show-text="true"></div>
  <% end %>
